[submodule "backend"]
	path = backend
	url = https://github.com/NikLukyan/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/NikLukyan/frontend.git
[submodule "backend2"]
	path = backend2
	url = https://github.com/Personal-training-and-nutrition/Personal-training-and-nutrition.git
