asgiref==3.7.2
attrs==23.1.0
Django==4.2.4
django-environ==0.10.0
django-filter==23.2
djangorestframework==3.14.0
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
pyproject-toml==0.0.10
python-dotenv==1.0.0
pytz==2023.3
referencing==0.30.2
rpds-py==0.9.2
sqlparse==0.4.4
toml==0.10.2
